* {
	font-family: 'Inconsolata', monospace;
}

 body {
	margin: 0; 
	padding: 0;
	background-color: #464D89;
  }

  @media (min-width: 800px) and (max-width: 1200px) {
	#backgroundabout {
	background: url(img/background-rick.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

 }
}
@media (min-width: 200px) {
#season-header {
	background: #520C24;
	color: white; 
	height: 5.5rem;
	margin-top: 0%;
	text-align: center;
	font-size: 1.5rem;
 }

#season-header a {
    color: #FEFDFD;
   }

}
   
@media (min-width: 800px) and (max-width: 1200px) {
#home-header {
	background: #A26285;
	color: white; 
	height: 3rem;
	margin-top: 0rem;
	text-align: center;
	font-size: 2rem;
 }
}	
@media (min-width: 800px) and (max-width: 1200px) {
#season1-button {
	display: block;
	margin-left: 35%;
	border-radius: 5px;
	background-color: #F1ED6E;
	border-color: #F1ED6E;
	height: 70px;
	width: 300px;
	font-size: 2rem;
}

#season1-button a {
text-decoration: none;
color: 	#000000;
 }
}
@media (min-width: 800px) and (max-width: 1200px) {
#season2-button {
	margin-left: 35%;
	display: block;
	border-radius: 5px;
	background-color: #A4DF68;
	border-color: #A4DF68;
	height: 80px;
	width: 300px;
	font-size: 2rem;
}
#season2-button a {
	text-decoration: none;
	color: 	#000000;
 }
}

@media (min-width: 800px) and (max-width: 1200px) {
#season3-button {
	margin-left: 35%;
	display: block;
	border-radius: 5px;
	background-color: #88BA75;
	border-color: #88BA75;
	height: 80px;
	width: 300px;
	font-size: 2rem;
}
#season3-button a {
	text-decoration: none;
	color: 	#000000;
 }
}
 
 #welcome-background {
	background-image: url(img/welcome-bground.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	
 }

 #welcome-frame {
	background-color: #833BFF;
	 opacity: 0.9;
	 margin-top: 25%;
	 margin-right: 0%;
	 margin-left: 0%;


 } 

 @media (min-width: 992px) {
	.item {
	  width:80%;
	} 
  }
  
  html {
	font-size:100%; 
  }
  
  body {
	background: url(img/background-rick.svg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Inconsolata', monospace;
	color: #fff;
	line-height: 1.8;
	background-color: #A2A1A2;
  }
  
  .img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
  }
  
  h1 {
	text-align: center;
   font-family: 'Exo', sans-serif;
	font-size: 4rem;
	font-weight: normal;
	line-height: 3.5rem;
  }
  
  h3 {
	font-size: 2rem;
	line-height: 2rem;
	text-transform: uppercase;
	letter-spacing: 1px; 
  }
  h2 {
	font-family: 'Inconsolata', monospace;
	font-size: 1.2rem;
	line-height: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px; 
	text-align: center;
	color: #5A4463;
  }
  p {
	font-size: 1.2rem;
	line-height: 2rem;
	letter-spacing: 1px;
	color: #C7F7FF;
  
  }
  header {
	height: 6rem;
	background-color: #520C24;
	margin-top: 0%;
	text-align: center;
  
  }
  
  nav {
	float: right;
	background-color: #C8B8E5;
	margin-top: 2rem;
	font-size: 1.5rem;
  }
  nav a{
	text-decoration: none;
	color: black;
  }
  a:hover {
	background: #585758;
	padding: 20px; 
	color: white;
  }
  nav li {
	display: inline-block;
  }
  .container {
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .item {
	/* Padding is used for smaller screens */
	padding: 0 30px 0 30px;
	text-align: center;
  }
  
  
  .btn {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 1rem;  
	display: inline-block;
	line-height: 1.25rem;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: .75rem 1.25rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: all .2s ease-in-out;
	text-decoration: none;
  }
  
  .btn btn-primary {
	text-decoration: none;
	  color: #fff;
	  background-color: #000;
	  border-color: #666;
  }
  
	  .btn btn-primary:hover {
		color: #fff;
		background-color: #333;
		border-color: #666;
		text-decoration: none;
	  }  
  
		 .btn btn-primary a:hover {
		  text-decoration: none;
		  background: transparent;
		  color: white;
		}
  .main-frame {
	background-color: #E8A1F2;
	opacity: 0.8;
	margin-top: 0%;
	margin-right: 0%;
	margin-left: 0%;
  }

 /* #video {
	opacity: 0.8;
	margin-top: 20%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 5%;


 }


 #startButton {
	 background-color: #13AEB1;
	 border-color: #A4DF68;
	 height: 60px;
	 width: 350px;
	margin-left: 40%;
	margin-right: 35%;
	margin-bottom: 2%;
	border-radius: 5px;
	font-size: 25px;
}

#startButton a { 
	text-decoration: none;
}

#startButton:hover {
	background: #F924AC;
} */

#season-1 {
	display: block;
	margin-left: 5%;
	border-radius: 5px;
	background-color: #6767CB;
	border-color: #6767CB;
	height: 25px;
	width: 100px;
	font-size: 100%;
	color: white;

}
#season-1:hover {
	color: #9082E7;

}
@media (min-width: 800px) and (max-width: 1200px) {
.card {
	float : left;
}

.cards-container {
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(img/background-rick.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
  }


.nameCharacter {
	color: white;
	text-align: center;
	font-size:15px;
}

.dataCharacter {
	color: white;
	font-size:12px;
}
}
/* #homeButton {
    margin-left: 5%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #CB67B9;
    border-color: #CB67B9;
    height: 25px;
    width: 100px;
    font-size: 100%;
    color: white;
}
#homeButton:hover{
    color: #9082E7;
	text-decoration:none;
} */

.nameCharacter {
	margin-top: 0%;
	color: #07125C; 
	font-size: 1.6rem;
}
.dataCharacter {
	margin-left: 3rem;
	color: #181818;
	font-size: 1.3rem;
}

.imgCharacter {
	display: flex;
	margin-top: 5%;
	margin-left: 5%;
	border-radius: 8px;
	display: flex;
	width: 35%;
	height: 35%;
	justify-content: space-around;
}
.card {
	margin-top: 5%;
	float: right;
	width: 50%;
	max-width: 100%;
	display: flexbox;
	justify-content: space-around;
	background-color: #BFC2CA;
	margin-right: 30%;
	border-radius: 1.2rem;
	text-align: center;
}

@media (min-width: 800px) and (max-width: 1200px) {
.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background: url(img/background-rick.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
  }
}
  #aboutcontainer { 
	  width: 50%;
	  height: 50%;
	  

  }

  .characterInfo {
	  color: white;
  }


@media screen and (max-width: 778px){
	.media{
	  width: 100%;
 }
}

#season-select {
	color: black;
	background-color: #D1D0D1;
	border-radius: 1rem;
	width: 5rem;
	height: 1.5rem;

}

#gender-select {
	color: black;
	background-color: #D1D0D1;
	border-radius: 1rem;
	width: 5rem;
	height: 1.5rem;

}

#status-select {
	color: black;
	background-color: #D1D0D1;
	border-radius: 1rem;
	width: 5rem;
	height: 1.5rem;

}

#disp-info {
	color: black;
	background-color: #D1D0D1;
	border-radius: 1rem;
	width: 5rem;
	height: 3rem;

}

#order-select {
	color: black;
	background-color: #D1D0D1;
	border-radius: 1rem;
	width: 5rem;
	height: 1.5rem;

}